<!DOCTYPE html>
<html>
  <h2>Login</h2>
  <form data-testid="login_form" method="POST" action="/login">
    <label for="username">Username:</label
    ><input data-testid="username_input" name="username" type="text" placeholder="Username" required />

    <label for="password">Password:</label
    ><input data-testid="password_input" name="password" type="password" placeholder="Password" required />

    <button data-testid="submit_button" type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/register">Register</a></p>
</html>
