<!DOCTYPE html>
<html lang="en">
  {% extends 'layout.html' %} {% block content %}
  <body>
    <h2>Register</h2>
    <form method="POST">
      <label for="username">Username:</label>
      <input name="username" data-testid="register_username_input" placeholder="Username:" required /><br />
      <label for="email">Email:</label>
      <input name="email" data-testid="register_email_input" type="email" placeholder="Email:" required /><br />
      <label for="password">Password:</label>
      <input
        name="password"
        data-testid="register_password_input"
        type="password"
        placeholder="Password:"
        required
      /><br />
      <button data-testid="register_submit_button" type="submit">Register</button>
    </form>
    <a href="/">Back</a>
  </body>
  {% endblock %}
</html>
